
@{
    ViewData["Title"] = "Registration";
}

@model WebApplication1.Models.User

<form method="post" asp-action="Registration">
    <div class="container p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row justify-content-center ">
            <h1 class="text-lg-center text-dark pl-3">Sign Up</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9 border border-dark rounded" style="padding:10px;background-color:mintcream;">
                <div class="form-group row">
                    <div class="col-3 align-self-center">
                        <label asp-for="FirstName" class="font-weight-bold"> FirstName</label>
                    </div>
                    <div class="col w-75">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 align-self-center">
                        <label asp-for="LastName" class="font-weight-bold"> LastName</label>
                    </div>
                    <div class="col w-75">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 align-self-center">
                        <label asp-for="Email" class="font-weight-bold"> Email</label>
                    </div>
                    <div class="col w-75">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 align-self-center">
                        <label asp-for="PhoneNumber" class="font-weight-bold"> Phone Number</label>
                    </div>
                    <div class="col w-75">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 align-self-center">
                        <label asp-for="Address" class="font-weight-bold"> Address</label>
                    </div>
                    <div class="col w-75">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 align-self-center">
                        <label asp-for="Password" class="font-weight-bold"> Password </label>
                    </div>
                    <div class="col w-75">
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-end">
                    <div class="col-2">
                        <input type="submit" class="btn btn-dark btn-block" name="Submit" value="Sign Up" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>